<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path @cocktail.image? ? @cocktail.image : "zkxgfufzlypo0l782cly" %>);">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="container-white">

<ul class="list-unstyled">
<% @cocktail.doses.each do |dose| %>
  <li>
   <%= dose.description %> - <%= dose.ingredient.name %>  <%= link_to dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
  </li>
<% end %>
</ul>
<hr>

  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <h3>Add a dose to this cocktail</h3>
          <%= simple_form_for([@cocktail, @dose]) do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit class: "btn-white"%>
          <% end %>
        </div>
      </div>
  </div>
</div>
